page-newsingle {
    .thumbnail{
        width: 100%;
    }
    .single-title{
        color: #3a3a3a;
        text-align: center;
    }
    .content{
        color: #3a3a3a;
        text-align:justify;
    }
}
