page-navigation {
  .caption-icon {
    font-size: 12px;
  }

  ion-slide {
    margin-top: -25% !important;

    ion-row {
      margin-top: 10% !important;
    }
  }
  .badge-menu{
    position: absolute;
    border-radius: 85%;
    width: 11px;
    height: 11px;
    display: block;
    margin-top: -7px;
    margin-left: 7px;
    padding:0;
    display: block;
  }
}
