<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <img class="user-avatar round" style="height:70px;max-width:70px;" [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/profile-1.jpg'">
      <h1 class="name">Frederico Maxmiliano</h1>
      <h3 class="situation">Habilitado - documentação aprovada</h3>
      <h3 class="position">Posição 15482º</h3>
    </div>
    <ion-list no-lines>

      <!-- Publico -->
      <ion-item menuClose (click)="goToNavigationHome()">
        <div class='item-side'>
          <img src='assets/images/icon-home-button.png' width=20>
          <span>Início</span>
        </div>
      </ion-item>

      <!-- INICIO MEU CADASTRO -->

      <ion-item (click)="openCadastreNav()" id="cadastre" [ngClass]="{'sub-list-item': this.cadastreNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-smartphone.png' width=20>
          <span>Meu cadastro</span>
        </div>
      </ion-item>
      <ion-list *ngIf='this.cadastreNav === true' class='sub-list'>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Área do candidato</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Notificações</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Meus dados</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Atualizações</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Conversas</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Requerimentos</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Agendamentos</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Indição à empreendimento</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Pendências</span>
        </ion-item>
      </ion-list>

      <!-- FIM HABITACAO -->

      <!-- INICIO HABITACAO -->

      <ion-item  (click)="openHabitationNav()" id="habitation" [ngClass]="{'sub-list-item': this.habitationNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-house.png' width=20>
          <span>Habitação</span>
        </div>
      </ion-item>

      <ion-list *ngIf='this.habitationNav === true' class='sub-list'>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Morar Bem</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Aluguel Legal</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Portas Abertas</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Projeto na Medida</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Lote Legal</span>
        </ion-item>

      </ion-list>

      <!-- FIM HABITACAO -->

      <!-- INICIO REGULARIZACAO -->

      <ion-item (click)="openRegularizationNav()" id="regularization" [ngClass]="{'sub-list-item': this.regularizationNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-certified.png' width=20>
          <span>Regularização</span>
        </div>
      </ion-item>
      <ion-list *ngIf='this.regularizationNav === true' class='sub-list'>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Conheça o programa</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Agendamentos</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Documentações</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Requerimentos</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Contatos telefônicos</span>
        </ion-item>

      </ion-list>

      <!-- FIM REGULARIZACAO -->

      <!-- INICIO ENTIDADES -->

      <ion-item  (click)="openEntityNav()" id="entity" [ngClass]="{'sub-list-item': this.entityNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-networking.png' width=20>
          <span>Entidades</span>
        </div>
      </ion-item>


      <ion-list *ngIf='this.entityNav === true' class='sub-list'>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Conheça o programa</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Pesquisa</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Sorteios</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Área da entidade</span>
        </ion-item>

      </ion-list>

      <!-- FIM ENTIDADE -->
      <!-- INICIO ENTIDADE -->

      <ion-item (click)="openPortalNav()" id="portal" [ngClass]="{'sub-list-item': this.portalNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-computer.png' width=20>
          <span>Portal</span>
        </div>
      </ion-item>

      <ion-list *ngIf='this.portalNav === true' class='sub-list'>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Sobre a CODHAB</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Notícias</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Habita Brasília</span>
        </ion-item>
        
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Concursos</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Ações Urbanas</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Mobilização Social</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Acesso à informação</span>
        </ion-item>
        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Ouvidoria</span>
        </ion-item>

      </ion-list>

      <!-- FIM ENTIDADE -->
      <ion-item (click)="openServiceNav()" id="portal" [ngClass]="{'sub-list-item': this.serviceNav === true}">
        <div class='item-side'>
          <img src='assets/images/icon-computer.png' width=20>
          <span>Serviços</span>
        </div>
      </ion-item>

      <ion-list *ngIf='this.serviceNav === true' class='sub-list'>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Leitor QR</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Pesquisa CPF/CNPJ</span>
        </ion-item>

        <ion-item  menuClose (click)="goToNavigationHome()">
          <span>Requerimento</span>
        </ion-item>

      </ion-list>
      <!-- Fim Publico -->
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
