<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <!--material-design-background-->
      <img class="user-avatar round" style="height:90px;max-width:90px;" [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/profile-1.jpg'"
      />
      <p class="name">Maria de Jesus</p>
      <p class="e-mail">Posição: 479º</p>
    </div>
    <ion-list no-lines>
      <ion-item menuClose (click)="openPage(HomePage)">
        <div class="item-side">
          <ion-icon name="ios-menu-outline" class="icon-custom-side"></ion-icon>
          <span>Tela inicial</span>
        </div>
      </ion-item>
      <ion-item menuClose (click)="gotoNav('NewsPage')">
        <div class="item-side">
          <ion-icon name="ios-menu-outline" class="icon-custom-side"></ion-icon>
          <span>Tela inicialssss</span>
        </div>
      </ion-item>
      <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngStyle]="{'display':getDisplay(p.display)}">
          <div class="item-side">
            <ion-icon name="{{p.icon}}" class="icon-custom-side" [ngStyle]="{'color':getColor(p.color)}"></ion-icon>
           
            <span>{{p.category}}</span>
          </div>
        <ion-list *ngIf="isLevel1Shown('idx'+i)">
          <ion-item class="item-custom-side" *ngFor="let s of p.subs; let i2=index" text-wrap menuClose (click)="gotoNav(s.component)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
            <div class="item-side custom-side-link">
              <span>{{s.subcategory}}</span>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
