// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-nav-codhab{
  height: 100px;
	width: 100px;
	margin: 0 auto;
	display: block;
	background-color: #fff;
  border:none;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.13);
}
.icon-page-home{
  font-size:65px;
}
.btn-nav-codhab.activated{
	background-color: #353535!important;
	border: 2px solid #353535!important;
}
.btn-nav-codhab.activated>:before{
	color:#fff!important;
}
.btn-texto{
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 5px;
	color:#808080;
	font-size: 11px;
}

/**/
.toolbar-title-md {
  text-align: center;
}
.toolbar-md ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
.toolbar-title-wp {
  text-align: center;
}
.toolbar-wp ion-title {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}
.round {
  border-radius: 50%;
}

#menu-material {
  .menu-header {
    text-align: center;
    padding: 5px 15px;
    background-image: url('../assets/images/background.png');
    background-size: cover;
    color: white;
    .name {
      color: black;
      font-size: 20px;
      font-weight: bold;
      margin-top: -2px;
    }

    .situation {
      font-size: 13px;
      color: black;
      margin-bottom: 8px;
    }

    .position {
      margin: 0;
      font-size: 13px;
      color: black;
      margin-bottom: 8px;
    }
    .sub-item {
      padding-left: 35px;
      background-color: #ffe2ad !important;
    }

  }
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
    height: 12vh;
  }
  // .item-custom-side .input-wrapper .label-md{
  //   margin:0 8px 0 0!important;
  // }
  .item-block{
    min-height: 20px!important;
  }
  .item-md{
   padding-left: 0;
  }
  .label-md {
    margin: 5px 0px;
  }
  .icon-custom-side{
    margin-left: 20px;
  }
  .custom-side-link{
    margin-left: 42px;
    padding: 8px 0;
  }
  .item-md.item-block .item-inner{
    padding:0;
  }
  .list-md{
    margin:0;
  }
  .list .list-md{
    background-color: #eeeeee;
  }
  .icon-custom-side{
  font-size: 25px!important;
  }
  .item-custom-side{
    background-color: #eeeeee;
    color:#3a3a3a;
    font-weight: bold;
  }
  .item-side{
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .item-side span{
    margin-left:10px!important;
    font-size: 15px!important;
    color:#3a3a3a;
    font-weight: bold;
  }
}


// WELCOME PAGE

.text-center {
  text-align: center !important;
}

.header {
  font-size: 30px !important;
  font-weight: 900;
  color: #2E2D33!important;
}

.header-small {
  font-size: 18px !important;
  color: #2E2D33 !important;
}

.sub-header {
  font-size: 20px !important;
  color: #2E2D33 !important;
}

.text-content {
  font-size: 16px !important;
  color: #696A75 !important;
}


// OVERRIDE

ion-img {
  background-color: transparent !important;
}

toolbar-background-md {
  border-color: #b2b2b2;
  background: #f8f8f8 !important;
}


.swiper-pagination-bullet-active {
  background: #ffcb08;
}
