page-news {
    .card-title-md {
        font-size: 1.8rem;
        color: #3a3a3a;
        font-weight: bold;
    }
    .data-card{
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: #969696;
        margin-top: 5px;
    }
}
